body {
  background-color: #ff9b00;
  margin: 0;
  padding: 0;
}

.container {
  width: 800px;
  height: 400px;
  margin: 100px auto;
  background-color: #fff;
  position: relative;
}

.container h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3em;
  color: #555;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
